
@mixin sprite($marginTop, $marginRight, $width, $height, $background){
  margin-top: $marginTop;
  margin-right: $marginRight;
  width: $width;
  height: $height;
  background: $background;
  float:left;
}

.sprite-canceled-order { @include sprite(3px, 10px, 12px, 12px, url("../images/sprite.png") no-repeat -44px -1px)}

.sprite-on-delivery{ @include sprite(3px, 5px, 20px, 16px,url("../images/sprite.png") no-repeat -2px -14px )}

.sprite-delivered{ @include sprite(2px, 10px, 12px, 12px, url("../images/sprite.png") no-repeat -29px -16px )}

.sprite-down-arrow{ @include sprite(3px, 8px, 17px, 16px, url("../images/sprite.png") no-repeat -27px 0)}

.sprite-open-order{ @include sprite(-2px, 120px, 15px, 15px,url("../images/sprite.png") no-repeat )}


.sprite-book{
  position:absolute;
  width: 20px;
  height: 17px;
  background: url("../images/sprite.png") no-repeat -60px -5px;
  float:left;
}