
<nav id="top-menu">
    <ul class="list-menu">
        <li id="all" class="filter">
            <a class="top-menu-link" href="#" style="border-bottom: 0; color:black">Все заказы</a>
        </li>
        <li id="greyStatus" class="filter">
            <a class="top-menu-link" href="#">Текущие</a>
        </li>
        <li id="greenStatus" class="filter">
            <a class="top-menu-link" href="#">Завершенные</a>
        </li>
        <li id="redStatus" class="filter">
            <a class="top-menu-link" href="#">Отмененные</a>
        </li>
    </ul>
</nav>
<div id="order">

</div>


