
<nav id="topMenu">
    <ul class="listMenu">
        <li id="all" class="filter">
            <a class="topMenuA" href="#" style="border-bottom: 0; color:black">Все заказы</a>
        </li>
        <li id="greyStatus" class="filter">
            <a class="topMenuA" href="#">Текущие</a>
        </li>
        <li id="greenStatus" class="filter">
            <a class="topMenuA" href="#">Завершенные</a>
        </li>
        <li id="redStatus" class="filter">
            <a class="topMenuA" href="#">Отмененные</a>
        </li>
    </ul>
</nav>
<div id="order">

</div>


