

<div class="tableTR">
    <div class="tableTD">
        <strong>Дата заказа</strong>
        <div class="spriteDownArrow"></div>
    </div>
    <div class="tableTD">
        <strong>№ заказа</strong>
    </div>
    <div class="tableTD">
        <strong>Текущий статус</strong>
    </div><br>
</div>

<div id="orders"></div>